<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoShop</title>
    <link rel="shortcut icon" href="./picture/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/addsupplier.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.ejs', {addpart: addpart, addcustomer: addcustomer, addsupplier: addsupplier, addrepair: addrepair}) -%>;
    <div class="mainmainbox">
        <div class="mainbox">
          <h1>Add Supplier</h1>
            <div class="secondbox">
                <div>
                    <form method="post" action="/addsupplier">
                        <label for="">Name</label>
                        <input type="text" name="name" id="">
                        <label for="">Phonenumber</label>
                        <input type="text" name="phonenumber" id="">
                        <label for="">Address</label>
                        <input type="text" name="address" id="">
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <video autoplay muted loop src="./picture/move.mp4" type="video/mp4"></video>
  </body>
</html>

