<header>
    <a href="/"><img src="/picture/logo.png" alt=""></a>
    <nav>
        <ul>
            <li><a href="/spareparts">SpareParts</a></li>
            <li><a href="/repairs">Repairs</a></li>
            <li><a href="/supplier">Supplier</a></li>
            <li><a href="/customers">Customers</a></li>
            <% if (addpart) { %>
                <li ><a href="/addpart" class="add">เพิ่ม Part</a></li>
            <% } else if (addcustomer) { %>
                <li ><a href="/addcustomer" class="add">เพิ่ม Customer</a></li>
            <% } else if (addsupplier) { %>
                <li ><a href="/addsupplier" class="add">เพิ่ม Supplier</a></li>
            <% } else if (addrepair) { %>
                <li ><a href="/addrepair" class="add">เพิ่ม Repair</a></li>
            <% } %>
        </ul>
    </nav>
</header>