
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Tilt Neon", sans-serif;
}

::-webkit-scrollbar{
    display:none;
}

body{
    position: relative;
    overflow: hidden;
}

video{
    filter: brightness(70%);
    filter: blur(3px);
    display: block;
    position: absolute;
    z-index: -1;
    transform: scale(2,2);
    top: 0;
    width: 100%;
    height: 100vh;
}

.mainmainbox{
    width: 100%;
    padding: 20px 0;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.secondbox::-webkit-scrollbar-thumb {
    display: block;
     background-color: rgb(238, 238, 140);
     border-radius: 15px;
}

.secondbox::-webkit-scrollbar{
    display: block;
    width: 7px;
    background-color: rgb(236, 236, 236);
}

.mainbox{
    flex-shrink: 1;
    width: 90%;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainbox h1{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ffd335;
}

.mainbox a{
    font-family: "Kanit", sans-serif;
    color: #ffd335;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 20px;
}

.secondbox{
    display: flex;
    justify-content: center;
    width: 70%;
    padding-bottom: 20px;
    overflow-y: scroll;
    background-color: #92c1cb;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}


.secondbox > div{
    width: 70%;
    height: 100%;
    border-radius: 30px;
    font-weight: 600;
    font-size: 36px;
    color: #222222;
    padding: 30px;
}

.secondbox div form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.secondbox div label{
    font-size: 24px;
    color: #222222;
}

.secondbox div input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.secondbox div input[type='submit'] {
    margin-bottom: 20px;
}

.secondbox div input[type='submit']:hover {
    background-color: #ffd335;
}



span {
    color: red;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.serch-customer,
.serch-spare {
    width: 100%;
    border-radius: 5px;
}

.serch-customer .row,
.serch-spare .row {
    display: flex;
}

.serch-customer .row input,
.serch-spare .row input {
    flex: 1;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.result-customer,
.result-spare {
    background: white;
    margin-top: -22px;
    max-height: 200px;
    overflow-y: scroll;
}

.result-customer ul,
.result-spare ul {
    padding: 5px 5px;
    border-top: 1px solid rgb(154, 154, 154);
}

.result-customer ul li,
.result-spare ul li {
    font-size: 20px;
    list-style: none;
    border-radius: 3px;
    padding: 5px 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.result-customer ul li:hover,
.result-spare ul li:hover {
    background-color: #cee4ff;
}

.fail {
    font-size: 19px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 127, 127);
    border-radius: 10px;
}
